<style>
  #facebook
  {
    padding-left: 6rem;
    padding-right: 6rem;
    background-color:#e9ebee;
  }
  .container
  {
    border: 1px solid black;
  }
  .post
  {
    margin-top: 14px;
  }
</style>
<script>
  window.onbeforeunload = function(){ window.scrollTo(0,0); }
</script>
<div id="facebook">
  <h1>Main Page of {{client.fullName}}</h1>
  <a href="/profile">Go to profile</a>
  <button ng-click="client.logout()" >Logout</button>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <p>{{client.fullName}}</p>
      </div>
      <div class="col-7">
        <post-input-box></post-input-box>
        <div ng-if="postsLoaded">
          <div class="post" ng-repeat="post in posts">
            <post-comp post="post"></post-comp>
          </div>
        </div>
      </div>
      <div class="col-3">
        <p>Language Bla Bla</p>
      </div>
    </div>
    
  </div>
</div>
