<div class="comment">
  <a class="clicable-img" href="/profile/{{vm.comment.author.id}}">
    <img ng-src="server/profile/getProfilePic.php?id={{vm.comment.author.id}}&gender={{vm.comment.author.gender}}&size='S'" alt="">
  </a>
  <div>
    <div class="comment-text">
      <a class="comment-author-name" href="/profile/{{vm.comment.author.id}}">{{vm.comment.author.fullName}}</a>
      {{vm.comment.text}}
    </div>
    <div class="comment-actions">
      <a href="#">Like</a>
      <a ng-click="vm.focusReplyInput()" href="#">Reply</a>
      17m
    </div>
  
    <!-- Sub comments -->
    <div class="subcomments">
      <div ng-repeat="reply in vm.comment.replies" class="comment">
        <a class="clicable-img" href="/profile/{{reply.author.id}}">
          <img ng-src="server/profile/getProfilePic.php?id={{reply.author.id}}&gender={{reply.author.gender}}&size='XS'" alt="">
        </a>
        <div>
          <div class="comment-text">
            <a class="comment-author-name" href="/profile/{{reply.author.id}}">{{reply.author.fullName}}</a>
            {{reply.text}}
          </div>
          <div class="comment-actions">
            <a href="#">Like</a>
            <a ng-click="vm.focusReplyInput()" href="#">Reply</a>
            15m
          </div>
        </div>
      </div>
      <div ng-if="(vm.comment.amountOfRepliesInDatabase - vm.comment.replies.length) != 0">
        <div class="comment-actions">
          <a ng-click="vm.showMoreReplies()" href="#">View {{vm.comment.amountOfRepliesInDatabase - vm.comment.replies.length}} more replies</a>
        </div>
      </div>
      <form ng-show="vm.wasReplyClicked" ng-submit="vm.writeReply()" class="write-reply">
        <a class="clicable-img" href="#">
          <img ng-src="server/profile/getProfilePic.php?id={{$root.client.id}}&gender={{$root.client.gender}}&size='XS'" alt="">
        </a>
        <input ng-model="vm.replyContent" fb-element="vm.replyInput" type="text" placeholder="Write a reply...">
      </form>
    </div>
  </div>
</div>
  