<div ng-controller="SignUpCtrl">
  <form ng-submit="submit()">
    <h2 style="font-weight: 600;">Create a New Account</h2>
    <p>It's quick and easy.</p>
    <div class="form-group form-row">
      <div class="col">
        <input ng-model="firstName" type="text" class="form-control" placeholder="First Name" required>
      </div>
      <div class="col">
        <input ng-model="lastName" type="text" class="form-control" placeholder="Last Name" required>
      </div>
    </div>
    <div class="form-group">
      <input ng-model="email" type="email" class="form-control" placeholder="Email" required>
    </div>
    <div class="form-group">
      <input ng-model="password" type="password" class="form-control" placeholder="Password" required>
    </div>
    <div class="form-group">
      <label>Birthday</label>
      <div class="form-group">
        <select ng-model="birthday.selectedMonth" ng-options="month.name for month in birthday.months" class="col-form-control form-control-sm">
        </select>
        <select ng-model="birthday.selectedDay" ng-options="day for day in birthday.days" class="col-form-control form-control-sm">
        </select>
        <select ng-model="birthday.selectedYear" ng-options="year for year in birthday.years" class="col-form-control form-control-sm">
        </select>
      </div>
    </div>
    <div class="form-group">
      <label>Gender</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="genderRadio" ng-model="gender" value="F">
          <label class="form-check-label">Female</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="genderRadio" ng-model="gender" value="M">
          <label class="form-check-label">Male</label>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="padding-right:0px !important;padding-left:0px !important;">
      <button class="btn btn-success btn-block" type="submit" style="border-color: black;">Sign Up</button>
    </div>
    <div ng-if="signUpFailed">Sign Up failed!</div>
  </form>
</div>